{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body bgcolor=" pink">
    <h1>hello</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non minus quam nemo iure. Repudiandae, labore modi dolorem facere, dolor error aliquam iusto blanditiis aliquid itaque dicta pariatur voluptates temporibus esse?</p>
<img src="{% static '/image1.jpeg' %}" alt="" srcset="">
</body>
</html>